* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    font: 14px/1 normal "Noto Sans KR", "Nanum Myeongjo", "Open Sans";
    color: #555;
    background: #fff;
  }
  
  a {
    text-decoration: none;
    color: #555;
  }
  
  ul, li {
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: normal;
  }
  
  em, i, address, strong {
    font-style: normal;
  }
  
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .blind {
    display: block;
    text-indent: -2000px;
    overflow: hidden;
  }
  
  header, main, footer, section, aside, nav, article {
    display: block;
  }